<div class="panel panel-default" id="messagesPanel">
    <div class="panel-heading">
        <strong>Ratings Example</strong>
    </div>
    <div class="panel-body">

        <!-- Code between the Start and End will be displayed on the example page -->
        <!-- Start -->
        <script src="/jsx/RatingsControl.js" ></script>

        <script>

            // Callback function we will use to update ratings - Keep the control generic
            // Context is data we passed through the control so we know which specific data item we are dealing with
            function updateRating(ratingValue, context) {

                $.ajax({
                    async: true,
                    type: "POST",
                    url: "/ratings/" + context['thingyId'],
                    data: JSON.stringify({"rating": ratingValue}),
                    contentType: "application/json;",
                    dataType: "json",
                    success: function (data) {

                        console.log("Success: ", data);

                    }.bind(this),
                    error: function (error) {

                        console.log("Error: ", error);

                    }.bind(this)
                });
            }


        </script>

        <!-- Add a div for each thingy, and attach a RatingsControl to each one. -->
        <% ratingsData.forEach(function(thingy) { %>
            <div class="ratings-control-group">
                <strong>Rateable Thingy <%= thingy["thingyId"] %></strong>
                <span id="ratingsContainer-<%= thingy["thingyId"]%>">
                </span>
            </div>
            <script>
                // Note: we pass in everything we need to make each intance of the control independant and unique.
                React.render(
                        React.createElement(RatingsControl, {
                            id: '<%= thingy["thingyId"] %>',
                            userValue: <%= thingy["userRating"] %>,
                            averageValue: <%= thingy["averageRating"] %>,
                            updateCallback: updateRating,
                            updateContext: {
                                thingyId: <%= thingy["thingyId"] %>
                            }
                        }),
                        document.getElementById('ratingsContainer-<%= thingy["thingyId"]%>')
                );
            </script>
        <% }); %>
        <!-- End -->
    </div>
</div>

<div class="panel panel-default" id="messagesPanel">
    <div class="panel-heading">
        <strong>Html</strong>
    </div>
    <div class="panel-body">
        <%
        var contents = fileService.getFileContents("views/ratings/view.ejs");
        contents = fileService.clipTextBetween(contents,"<!-- Start -->", "<!-- End -->");
        %>

        <pre class="prettyprint">

        <%= contents %>
        </pre>
    </div>
</div>

<div class="panel panel-default" id="messagesPanel">
    <div class="panel-heading">
        <strong>React Source</strong>
    </div>
    <div class="panel-body">

        <%
        var ejxSource = fileService.getFileContents("assets/jsx/RatingsControl.jsx");
        %>

        <pre class="prettyprint">

<%= ejxSource %>
        </pre>
    </div>
</div>